<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Definición de argumentos -->
    <arg name="model" default="$(find eddiebot_description)/urdf/eddiebot.urdf.xacro"/>
    <!-- Define la ubicación del archivo URDF del robot -->
    <arg name="world" default="$(find eddiebot_description)/map/eddie.world"/>
    <!-- Define el mundo de Gazebo que se utilizará -->

    <!-- Parámetro de descripción del robot -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>
    <!-- Se define un parámetro que contendrá la descripción del robot. La descripción se obtiene ejecutando 
        el comando xacro para procesar el archivo URDF especificado en el argumento model -->

    <!-- Inclusión de archivo de lanzamiento de Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- Se incluye el archivo de lanzamiento empty_world.launch proporcionado por el paquete gazebo_ros -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="world_name" value="$(arg world)"/>
        <!-- Se establecen varios parámetros para configurar el entorno de Gazebo, como pausado, uso de tiempo
             simulado, interfaz gráfica, etc. El mundo especificado en el argumento world se carga en este lanzamiento -->
    </include>

    <!-- Nodo de spawneo del modelo -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
          args="-unpause -urdf -model eddiebot -param robot_description"
          output="screen" respawn="false"/>
          
    <!-- Se lanza el nodo robot_state_publisher del paquete robot_state_publisher, que publica el estado del robot 
        en el sistema de coordenadas del mundo -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>
</launch>
